@page
@model SM.Web.Pages.Dashboard.HomeModel
@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-md-10 mx-auto">
        <button type="button" id="btnCreateEvent" class="float-end btn btn-primary"><i class="fa-regular fa-calendar-plus fw-bold"></i> Create Event</button>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-10 mx-auto">
        <ul class="nav nav-tabs" id="tabDays" role="tablist"></ul>
        <div class="tab-content mt-2" id="tabContentDays"></div>
    </div>
</div>

<div style="display:none;">
    <li id="dayTabEl" class="nav-item" role="presentation">
        <button class="nav-link" id="btnDayTabEl" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="false"></button>
    </li>
    <div class="tab-pane fade" id="dayTabPaneEl" role="tabpanel" aria-labelledby="home-tab" tabindex="0"></div>

    <ol id="listGroupEl" class="list-group"></ol>
    <li id="listGroupItemEl" class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <h5 id="Title" class="mb-1 fw-bold"></h5>
            <p id="Info" class="mb-1"></p>
        </div>

        <div class="d-block">
            <h5 id="StartTime"></h5>
            <h5 id="EndTime"></h5>
        </div>
    </li>

    <div id="divNoEventsPanel" class="pt-5 pb-5">
        <div class="text-center">
            <div class="display-2">
                <i class="fa-solid fa-calendar-check fa-sm"></i>
            </div>
            <div class="fw-bold fs-4">No Events</div>
        </div>
    </div>

    <div id="divEventsLoadingPanel" class="pt-5 pb-5">
        <div class="text-center" style="color: lightgrey;">
            <div class="display-2">
                <i class="fas fa-spinner fa-spin" aria-hidden="true"></i>
            </div>
            @*<div class="fw-bold fs-4">Loading Events...</div>*@
        </div>
    </div>
</div>

<partial name="./FormEvent.cshtml" />

<script src="/js/Utilities.js"></script>
<script src="/js/SmEngine.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        SmEngine.Init();
    });
</script>