@page
@model IndexModel
@{
    ViewData["Title"] = "Schedule Master";
}

<div class="pt-5">

    <div class="text-center">
        <h4 class="">Stay organized and on track with Schedule Master. Effortlessly manage your schedule, plan your days, and maximize your productivity with ease.</h4>
    </div>

    <div class="row mt-5 pt-5">
        <div class="col-md-6 mx-auto">
            <div class="sm-box">
                <div style="width:40%">
                    <a type="button" class="btn btn-primary float-end" asp-area="Identity" asp-page="/Account/Register">Sign Up</a>
                </div>
                <div style="width:20%">
                    <div class="sm-vertical-line">or</div>
                </div>
                <div style="width:40%">
                    <a type="button" class="btn btn-outline-secondary" asp-area="Identity" asp-page="/Account/Login">Log In</a>
                </div>
            </div>
        </div>
    </div>

    <partial name="LoadingScreenOverlay.cshtml" />

</div>