@page
@using SM.Web.Areas.Identity.Pages.Account;
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-md-8 mx-auto">
        <form id="registerForm" class="formRegisterPanel mt-md-5 ps-3 pe-3 pb-2" asp-route-returnUrl="@Model.ReturnUrl" method="post" onsubmit="Sm_OnSubmit()">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3 shadow-sm">
                <input asp-for="Input.Username" class="form-control" aria-required="true" placeholder="username" />
                <label asp-for="Input.Username">Username</label>
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3 shadow-sm">
                <input id="inputPassword" asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                Already have an account?
                <a class="icon-link icon-link-hover" href="/Identity/Account/Login" style="text-decoration: none;">
                    <span style="text-decoration: underline;">Log In</span>
                    <i class="bi fa-solid fa-arrow-right" style="text-decoration: none;"></i>
                </a>
            </div>
            <div class="text-center">
                <button id="registerSubmit" type="submit" class="btn btn-primary fw-bold btn-shadow" style="width:65%"><i class="fa-solid fa-user-plus"></i> Sign up</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script src="~/js/Utilities.js"></script>
<script>
    function Sm_OnSubmit() {
        const btnSignUpSubmit = document.querySelector('#registerSubmit');
        var confirmPasswordErrorEl = document.querySelector('[data-valmsg-for="Input.ConfirmPassword"]')
        
        if (document.getElementById('inputPassword').value.length < 6 || document.getElementById('inputPassword').value.length > 100) return;

        if (!Utilities.BindFormValidity('registerForm')) return;
        btnSignUpSubmit.innerHTML = `<i class="fa-solid fa-spinner fa-spin"></i> Signing up...`;
        Utilities.RemoveBtnPointerEvents(btnSignUpSubmit);
    }
</script>